<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="statics\css\style.css">
  
  <title>Calculadora de eficiencia energética para hogares inteligentes</title>
</head>
<body>
  
  <header class="header">
    <div class="header__text">
      <h1>Web-ciclado</h1>
      <p>aqui encontrara soluciones a los problemas de reciclaje 
        de la sociedad
    </p> 
    </div>
    
  </header>
  <main>
    {% block content %}
    <h2>¿Que quieres saber?</h2>
    <ul class="list">
      <li class="list__item">
        <a href="/n">
        <img class= img src= "/imagenes/home.svg" alt="home">
        <button>¿como reciclar?</button>
        <br>
      </li>
      <!-- Asignación #1 -->
      <li class="list__item">
        <a href="/n">
        <!-- <img class="item__img" src="../static/img/home.svg" alt="home">-->
        <br>
        <br>
        <button>consejos y manualidades</button></a>
        
      </li>
      <li class="list__item">
        <a href="/h">
         <!--<img class="item__img" src="../static/img/home.svg" alt="home">-->
         <br><br>
        <button>consecuencias de la contaminacion</button></a>
        
      </li>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
  ml>
  
