<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  
  <a href="/">
    
    <button class = "btn">re-gresar al inicio</button></a>
    <h1>¿Como reciclar correctamente?</h1>
    <h2>como clasificar correctamente los residuos:</h2>
    
    <p>Clasificación de residuos según su composición: Los residuos se agrupan según su composición, se depositan en los distintos contenedores y luego se procesan en conjunto.</p>
      
      
    
    <p>tipos de residuos</p>
    
    <p>Papel y cartón: este tipo de residuos se deposita en el contenedor azul. Incluye algunos objetos como periódicos, revistas, carpetas o cajas de cartón.
      Envases: estos residuos se depositan en el contenedor amarillo. Latas, briks o botellas de plástico son algunos ejemplos de residuos que deben tirarse a este contenedor.
      Vidrios: incluyen botellas, bombillas u otros objetos. Se depositan en el contenedor verde y no debe confundirse con el cristal.</p>
      
      <p>Otros residuos: el metal, algunos tipos de plástico, madera, pinturas, aceites, entre otros, son residuos que deben tratarse de manera específica. En general,
        podrán depositarse en un punto limpio, aunque debemos confirmar que acepten el tipo de residuo que queremos desechar.</p>
     
        <p>Esta clasificación es la base del reciclaje.</p>
  
    </body>